@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #FAD9D1, #EB9D98);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4011317a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #401131;
    text-align: center;
    text-shadow: 1px 1px 2px #4011317a;
}

h2 {
    color: #993866;
}

p {
    text-align: justify;
}