@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

main img {
    width: 100vw;
}

main a {
    display: block;
    font-weight: bolder;
    font-size: 1.4em;
    color: white;
    background-color: orangered;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}